fastapi==0.115.0
hexforge-contracts @ git+https://github.com/hexforge404/hexforge-contracts.git@v1.0.4#subdirectory=libs/python
uvicorn[standard]==0.34.0
pydantic==2.10.4
python-multipart==0.0.9
orjson==3.10.12
pillow==10.4.0
numpy==1.26.4
matplotlib==3.8.4
trimesh==4.4.3
